name: biometric_signature
description: Flutter biometric functionality for cryptographic signing and encryption using the Secure Enclave and the StrongBox
version: 6.2.0
homepage: https://github.com/chamodanethra/biometric_signature

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.visionflutter.biometric_signature
        pluginClass: BiometricSignaturePlugin
      ios:
        pluginClass: BiometricSignaturePlugin
